@import "tailwindcss";

@theme {
  --color-background: #0C0F14;
  --color-card: #141922;
  --color-navbar: #070A0F;
  --color-primary: #F59E0B;
  --color-primary-hover: #FBBF24;
  --color-secondary: #34D399;
  --color-text-main: #E6E7EB;
  --color-text-secondary: #9CA3AF;
  --color-text-muted: #6B7280;
  --color-border: #1F2937;

  --font-sans: var(--font-inter);
  --font-heading: var(--font-poppins);
}

/* Custom Utilities */
@utility container-custom {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-main);
  @apply font-sans antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading font-bold text-white;
}